# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# Data and models
data/
*.pth
*.ckpt
*.h5
checkpoints/

# LaTeX
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Datasets etc.
files